################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
bin
obj
/.vs/easygroceries/DesignTimeBuild
/.vs/easygroceries/FileContentIndex
/.vs/easygroceries/v17
/.vs
